.package-item {
  display: grid;
  grid-template-columns: 60px 160px repeat(2, 1fr);
  align-items: center;
  gap: $unit3;
  padding: $unit3 $unit2;
  border-radius: $unit2;
  border: 2px solid $darkBluePrimary;
  background-color: $mainWhite;
  transition: all;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    transition: all;
    transition-duration: 0.6s;
    transform: scaleY(1.1) scale(1.02);
    box-shadow: 0px 0px 10px 1px $lightBlue;
  }

  &>img {
    width: 46px;
    height: 46px;
  }
}