.package-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $unit3 $unit2;
  border-radius: $unit2;
  border: 2px solid $darkBluePrimary;
  background-color: $mainWhite;
  transition: all;
  transition-duration: 0.3s;
  cursor: pointer;

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: $unit3;
    padding: 0px $unit3;

    &>h6 {
      @include regular600(22px, $darkBlueBG);
      margin-bottom: 5px;
    }
  }

  &:hover {
    transition: all;
    transition-duration: 0.5s;
    transform: scaleY(1.1) scale(1.02);
    box-shadow: 0px 0px 10px 1px $lightBlue;
  }

  &>img {
    width: 46px;
    height: 46px;
    margin: 0px auto;
  }
}

@media (max-width: $tablet) {
  .package-item  {
    &__description {
      flex-direction: column;
    }
  }
};
