.checkbox {
  display: flex;
  align-items: center;
  gap: $unit2;
  cursor: pointer;

  &>input {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    
    &:checked {
      & ~ .checkbox__indicator {
        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $blueSecondary
        };
      }
    }
  }

  &__indicator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $unit3;
    height: $unit3;
    border-radius: 50%;
    border: 1px solid $blueSecondary;
  }

  &__title {
    @include regular400(16px);
  }
}