.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $unit4;
  padding: $unit2 $unit3;
  margin: $unit2;
  border: 1px solid $darkBlueBG;
  border-radius: $unit2;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
      width: 120px;
      height: 120px;
      border-radius: 8px;
    }

    &>span {
      @include regular600(34px);
    }
  }

  &__search {
    flex-basis: 60%;
  }
}

@media (max-width: $tablet) {
  .app-header {
    flex-direction: column;

    &__search {
      flex-basis: unset;
      width: 100%;
    }
  }
};
