.titled-span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: $unit3;
  padding: $unit3 $unit2;

  &__title {
    @include regular400(14px, $lightGray);
    border-bottom: 1px solid $lightGray
  }

  &__text {
    @include regular600(22px, $darkBlueBG);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
  }
}