$darkBlueBG: #252A40;
$darkBlueSemiTransparent: #252a409c;
$darkBluePrimary: #181E36;
$darkBlueSecondary: #2E3349;
$darkBlueGray: #445967;
$lightBlue: #3D90CE;
$blueSecondary: #008FFB;

$mainWhite: #FFFFFF;

$lightGray: #828A90;
$darkGraySemitransparent: #121417d4;

$violet: #DC6BDB;

$mainRed: #AC1818;