$darkBlueBG: #252A40;
$darkBlueSemiTransparent: #252a409c;
$darkBluePrimary: #181E36;
$darkBlueSecondary: #2E3349;
$darkBlueGray: #445967;
$lightBlue: #3D90CE;
$bluePrimary: #AEF9FF;
$blueSecondary: #008FFB;

$mainWhite: #FFFFFF;
$whiteSecondary: #E6F0F7;
$darkWhite: #484a52;
$whiteRed: #ECDBDB;

$lightGray: #828A90;
$darkGraySemitransparent: #121417d4;
$grayPrimary: #A8A8A8;
$greySecondary: #EDEFF1;

$violet: #DC6BDB;

$mainGreen: #18AC9C;
$mainGreenWhite: #ccf3ef;
$mainLightGreen: #78FFBD;
$aquaGreen: #18414F;

$mainYellow: #FBFF34;

$mainRed: #AC1818;